.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: #73021b;
  cursor: pointer;
}

.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{
    background:0 0;
    color:#000;
    cursor:default}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  color: #000;
  background: #f39c12;
}

.datepicker table {
   margin-left: 50px;
}

.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active:active {
    background-color: #f39c12;
    color: #000;
}

.datepicker table tr td, .datepicker table tr th {
    color: #fff;
}
.datepicker table tr td.old{
    color: #000;
}
.datepicker .datepicker-switch,.datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
    color: #fff;
}
