{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>BILLETTERIE</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">Réservation</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Coordonnées</a></li>
            <li><span class="bubble"></span><a href="#0">Paiement</a></li>
            <li><span class="bubble"></span><a href="#0">Confirmation</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">

                <h2>DELACROIX</h2> 
                <p style="text-align:center">LE LUNDI 4 JUIN 2018 - BILLET JOURNEE</p>{#Récupérer pick_a date + journée ou 1/2#}
                <hr>
            </div>
        </div>
         <fieldset>
        <div id="tickets">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    {{include("APProjet4BookingBundle:Booking:form1.html.twig")}}
                </div>
            </div>
        </div>
        <div class="new_ticket">
            <button type="button" id="close"  class=" pull-right cross">
            </button>
        </div>
         </fieldset>
        <button id="add-ticket" style="color:#000;">+ Ajouter un billet</button>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" class="button2">Finaliser votre commande</button>
            </div>
        </div><br>
    </div>



    {% block javascript %}
        <script>
            var tickets = $("#tickets");
            var button = $("#add-ticket");


            button.on("click", function () {
                $('#tickets').clone().prependTo($('.new_ticket'));
                //var ticket_html = '<div class="tickets">Toc</div>';
                //tickets.append(ticket_html);
            });

        </script>
        <script>
            var button = $("#close");

            button.on("click", function () {
                $('.new_ticket').remove();
            });
        </script>
        <script>$("#alert-target").click(function () {
                toastr["info"]("I was launched via jQuery!");
            });</script>
        {% endblock %}
    {% endblock %}

