{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>BILLETTERIE</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">Réservation</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Coordonnées</a></li>
            <li><span class="bubble"></span><a href="#0">Paiement</a></li>
            <li><span class="bubble"></span><a href="#0">Confirmation</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <h2>DELACROIX</h2>
                <p style="text-align:center">LE LUNDI 4 JUIN 2018 - BILLET JOURNEE</p>
                <hr>
                
                <div class="form1">
                    {{ form(form1) }}
                    <button class="button2">Finaliser votre commande</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">

            </div>
        </div>
    </div>


    {% block javascript %}
    {% endblock %}
{% endblock %}

