{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}           
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{'home.banner.welcome'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
    <div class="container">
        <div class="row" style="height: 200px"></div>
        <div class="row">
            <div class="col-lg-12">
                <a href="{{path('approjet4_booking_index')}}" class="btn draw-border" role="button">{{'home.container'|trans}}</a>
            </div>
        </div>
    </div>          
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>$(window).scroll(function () {
            if ($(this).scrollTop() > 50)  /*height in pixels when the navbar becomes non opaque*/
            {
                $('.opaque-navbar').addClass('opaque');
            } else {
                $('.opaque-navbar').removeClass('opaque');
            }
        });
    </script>
    <script>
        $(".hover").mouseleave(
                function () {
                    $(this).removeClass("hover");
                }
        );
    </script>
{% endblock %}
