{#src/APProjet4/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}


{% block body %}
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="snip1573">
                <img src="../../web/images/image1.jpg" alt="sample1" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>SPHINX</h1>
                <span>Du 29 mars au 23 juillet</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="snip1573">
                <img src="../../web/images/image4.jpg" alt="sample2" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>DELACROIX</h1>
                <span>Du 3 au 18 avril</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="snip1573">
                <img src="../../web/images/image3.jpg" alt="sample3" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>DELACROIX</h1>
                <span>Du 15 mars au 25 juin</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="snip1573">
                <img src="../../web/images/image1.jpg" alt="sample4" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>DELACROIX</h1>
                <span>Du 3 au 18 avril</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}


