{#src/APProjet4/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}


{% block body %}
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="">
                <img src="../../web/images/image6.jpg" alt="sample89" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>MUSEE DU LOUVRE</h1>
                <span>Du 3 au 18 avril</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="expo">
                <img src="../../web/images/image5.jpg" alt="sample89" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>SPHINX</h1>
                <span>Du 3 mars au 25 juin</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="expo">
                <img src="../../web/images/image2.jpg" alt="sample89" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>DELACROIX</h1>
                <span>Du 28 avril au 15 juillet</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="expo">
                <img src="../../web/images/image3.jpg" alt="sample89" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>L'EMPIRE DES ROSES</h1>
                <span>Du 3 mars au 25 juin</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>
    <div class="story-card--recirc">
        <div class="story-card--recirc__media">
            <figure class="expo">
                <img src="../../web/images/image1.jpg" alt="sample89" />
                <figcaption>
                    <h3>Réserver</h3>
                </figcaption>

                <a href="#"></a>
            </figure>
        </div>
        <div class="story-card--recirc__body">
            <a href="">
                <h1>LA FRANCE AU GRAND SIECLE</h1>
                <span>Du 3 mars au 25 juin</span>
                <br><br>
                <button>Réserver</button>
            </a>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}


