{# src/APProjet4/BookingBundle/Resources/views/Booking/newOrder.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Musée du Louvre</title>
  </head>
  <body>
    <h1>Billeterie non-Officielle</h1>

    <p>
      Ici, bientôt, vos billets pour le Louvre !
    </p>
  </body>
</html>