{#src/APProjet4/BookingBundle/Resources/views/Booking/payment.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>CONFIRMATION</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">Réservation</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Coordonnées</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Paiement</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Confirmation</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12"><br><br>
                <h4>Votre réservation a bien été effectuée !</h4><br>
                Merci d'avoir commandé sur la billetterie du Louvre<br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10 infoMail">Un email vient de vous être envoyé à l'adresse suivante:<br><br> 
                <p style="text-align: center; color:">pictapica@gmail.com </p><br>
                Merci de présenter cet email à l'entrée du musée : <br>
                - A partir de votre téléphone portable ou tablette  (merci pour la planète !).<br>
                - En l'imprimant sur papier libre.
            </div>
        </div>
        <hr>
        <div class="row">
            <h4>Récapitulatif de votre commande</h4><br>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-3 col-md-offset-4 col-md-3  col-xs-offset-2 col-xs-5 recapTable">
                    <ul>
                        <li>Numéro de commande</li>
                        <li>Date de paiement</li>
                        <li>Montant</li>
                        <li>Numéro de paiement</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-5 infoTable">
                    <ul><li>8415K2L65B</li>
                        <li>11/06/2018</li>
                        <li>16€</li>
                        <li>462512</li>
                    </ul>
                </div>
            </div>
            <p class="save">(Merci de conserver ces informations, elles pourront vous être demandées en cas de réclamation)</p>
            <br><br>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 table-responsive">
                <caption>EXPOSITION DELACROIX - Votre visite JOURNEE du 25 aôut 2018</caption><br><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-right">Nom</th>
                            <th class="text-right">Prenom</th>
                            <th class="text-right">Date de naissance</th>
                            <th class="text-right">Tarif</th>
                            <th class="text-right">Prix du billet</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-right" colspan="4" id="totalBooking">Total commande</th>
                            <th class="text-right"> 16€</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        
                        <tr>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">16€</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">Retour à l'accueil</button></a>
            </div>
        </div>
    </div> 

{% endblock %}

{% block javascript %}

{% endblock %}