

section
{
    border-bottom: 1px solid #e6e6e6;
    background:grey;
    padding: 2em 0;
}

.banner
{
    background:#73021b;
    min-height:200px;
}
.banner .row
{
    text-align:center;
    margin-top:100px;
}
.banner h1
{
    color:white;
    font-family: 'Open Sans', sans-serif;
}

.ticket{
    margin-top: 4px;
}

.language{
    margin-top: 15px;
}

.navbar-brand{
    margin-top: 2px; 
}

h1{
    color: #fff;

}

a{
    color: #fff;
}

h3{
    text-decoration: underline;
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.4);
    /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 90px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #73021b;
    height: 90px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
    body
    {
        background:red;
    }
    .opaque-navbar {
        background-color: black;
        height: 90px;
        transition: background-color .5s ease 0s;
    }

}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#000;
    color: #fff;
    padding-top: 10px;
}


/***********************************************************************
*  INDEX SECTION
***********************************************************************/


.expo {
    background-color: #000;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px 7px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.expo * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.expo:before,
.expo:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #003d50;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}

.expo:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.expo:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.expo img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.expo figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.expo h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.expo a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.expo:hover > img,
.expo.hover > img {
    opacity: 0.5;
}

.expo:hover:before,
.expo.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.expo:hover:after,
.expo.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.expo:hover figcaption,
.expo.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


body {
    background-color: #001824;
    text-align: center;
}

.story-card--recirc {
    margin: 40px auto 0 auto;
    border-color: #c0d1d1;
    border-right: 0;
    border-left: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    width: 700px;
    padding: 10px 0;
    clear: both;
    overflow: hidden;
}
.story-card--recirc a {
    text-decoration: none;
}
.story-card--recirc__media {
    display: inline;
    float: left;
    width: 340px;
    height: 255px;
    overflow: hidden;
    margin-right: 30px;
    position: relative;
}
.story-card--recirc__media a img {
    position: relative;
    top: -20%;
    width: 340px;
    transition: opacity, 0.7s;
}


.story-card--recirc__media a:hover img {
    opacity: 0.7;
}
.story-card--recirc__body {
    float: left;
    width: 330px;
    padding: 50px 0 0 0;
}
.story-card--recirc__body a {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.story-card--recirc__body a:hover h1 {
    color: #fec500;
}
.story-card--recirc__body a:hover span {
    color: #27627f;
}
.story-card--recirc__body h1 {
    color: #27627f;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-style: normal;
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 14px 0;
}
.story-card--recirc__body span {
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    color: #7c8a8a;
}
/**********************************************
*Buttons entourés
***********************************************/
.draw-border {
    -webkit-box-shadow: inset 0 0 0 4px #58afd1;
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #27627f;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #fec500;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #fec500;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    letter-spacing: 0.05rem;
}
.btn:focus {
    outline: 2px dotted #55d7dc;
}

/*************************************
*Breadcrumb
**************************************/

.flexer,
.progress-indicator{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
}
.no-flexer,
.progress-indicator
.stacked{
    display:block;
}
.no-flexer-element{
    -ms-flex:0;
    -webkit-flex:0;
    -moz-flex:0;
    flex:0;
}
.flexer-element,
.progress-indicator>li{
    -ms-flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    flex:1;
}
.progress-indicator{
    margin:0 0 1em;
    padding:0;
    font-size:80%;
    text-transform:uppercase;
    margin-top: 10px;

}
.progress-indicator>li{
    list-style:none;
    text-align:center;
    width:auto;
    padding:0;
    margin:0;
    position:relative;
    text-overflow:ellipsis;
    color:#bbb;
    display:block;
    margin-top: 10px;
}
.progress-indicator>li:hover{
    color:#6f6f6f;
}
.progress-indicator>li.completed,
.progress-indicator>li.completed .bubble{
    color:#fec500;
}
.progress-indicator>li .bubble{
    border-radius:1000px;
    width:20px;
    height:20px;
    background-color:#bbb;
    display:block;
    margin:0 auto .5em;
    border-bottom:1px solid #888;
    margin-top: 1px;
}
.progress-indicator>li .bubble:after,
.progress-indicator>li .bubble:before{
    display:block;
    position:absolute;
    top:9px;
    width:100%;
    height:3px;
    content:'';
    background-color:#bbb;
}
.progress-indicator>li.completed .bubble,
.progress-indicator>li.completed .bubble:after,
.progress-indicator>li.completed .bubble:before{
    background-color:#fec500;
    border-color:#247830;
}
.progress-indicator>li .bubble:before{
    left:0;
}
.progress-indicator>li .bubble:after{
    right:0;
}
.progress-indicator>li:first-child .bubble:after,
.progress-indicator>li:first-child .bubble:before{
    width:50%;
    margin-left:50%;
}
.progress-indicator>li:last-child .bubble:after,
.progress-indicator>li:last-child .bubble:before{
    width:50%;margin-right:50%;
}
.progress-indicator>li.active,
.progress-indicator>li.active .bubble{
    color:#337AB7;
}
.progress-indicator>li.active .bubble,
.progress-indicator>li.active .bubble:after,
.progress-indicator>li.active .bubble:before{
    background-color:#337AB7;
    border-color:#122a3f;
}
.progress-indicator>li a:hover .bubble,
.progress-indicator>li a:hover .bubble:after,
.progress-indicator>li a:hover .bubble:before{
    background-color:#27627f;
    border-color:#1f306e;
}
.progress-indicator>li a:hover .bubble{
    color:#27627f;
}

.progress-indicator.stacked>li{
    text-indent:-10px;
    text-align:center;
    display:block;
}
.progress-indicator.stacked>li .bubble:after,
.progress-indicator.stacked>li .bubble:before{
    left:50%;
    margin-left:-1.5px;
    width:3px;
    height:100%;
}
.progress-indicator.stacked .stacked-text{
    position:relative;
    z-index:10;
    top:0;
    margin-left:60%!important;
    width:45%!important;
    display:inline-block;
    text-align:left;
    line-height:1.2em;
}
.progress-indicator.stacked>li a{
    border:none
}
.progress-indicator.stacked.nocenter>li .bubble{
    margin-left:0;
    margin-right:0;
}
.progress-indicator.stacked.nocenter>li .bubble:after,
.progress-indicator.stacked.nocenter>li .bubble:before{
    left:10px;
}
.progress-indicator.stacked.nocenter .stacked-text{
    width:auto!important;
    display:block;
    margin-left:40px!important;
}
@media handheld,screen and (max-width:400px){
    .progress-indicator{
        font-size:60%;
    }
}

/******************************************
*Form
***************************************/
.form {

    background-color: #003d50;
    color : #fff;
    max-width: 850px;
    min-width: 230px;
    overflow: hidden;
    width: 100%;
}


* {
    box-sizing: border-box;
}
::-webkit-input-placeholder {
    transition: color 0.25s 0.5s ease-in-out;
}

.h {
    font-weight: normal;
}
.h1 {
    text-align: center;
    font-size: 3em;
}
.input {
    display: block;
    position: relative;
    max-width: 850px;
    height: 50px;
    margin: 15px auto;
    color: inherit;
    font: inherit;

}
.native {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    border: 0;
    background: transparent;

    transition: color .25s;
}
.native::-webkit-input-placeholder {
    color: #ffffff;
}
.native:focus,
.native:invalid,
.jsstate-filled .native {
    outline: none;
}
.native:focus::-webkit-input-placeholder,
.native:invalid::-webkit-input-placeholder,
.jsstate-filled .native::-webkit-input-placeholder {
    color: #003d50;
    transition: color 0.25s ease-in-out;
}
.native:focus + .label::after,
.native:invalid + .label::after,
.jsstate-filled .native + .label::after {
    opacity: 1;
    transition: opacity 0.25s 0.5s ease-in-out;
}
.native:focus + .label::before,
.native:invalid + .label::before,
.jsstate-filled .native + .label::before {
    -webkit-transform: translateY(-50%) scaleX(1);
    transform: translateY(-50%) scaleX(1);
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.native[disabled],
.jsstate-disabled .native {
    color: rgba(0, 0, 0, 0.6);
}
.native[disabled] + .label,
.jsstate-disabled .native + .label,
.native[disabled]::-webkit-input-placeholder,
.jsstate-disabled .native::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.native[disabled] + .label,
.jsstate-disabled .native + .label {
    background: rgba(0, 0, 0, 0.05);
}
.jsstate-visited .native:invalid,
.jsstate-invalid .native {
    color: #003d50;
}
.jsstate-visited .native:invalid + .label,
.jsstate-invalid .native + .label {
    color: #003d50;
}
.jsstate-visited .native:invalid ~ .message,
.jsstate-invalid .native ~ .message {
    color: #003d50;
}
.jsstate-visited .native:invalid ~ .message::after,
.jsstate-invalid .native ~ .message::after {
    opacity: 1;
    transition: opacity 0.25s 0.5s ease-in-out;
}
.jsstate-visited .native:invalid ~ .message::before,
.jsstate-invalid .native ~ .message::before {
    opacity: 1;
    -webkit-transform: translateY(-50%) scaleX(1);
    transform: translateY(-50%) scaleX(1);
    transition: color 0.25s, opacity 0.25s, -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, color 0.25s, opacity 0.25s;
    transition: transform 0.25s ease-in-out, color 0.25s, opacity 0.25s, -webkit-transform 0.25s ease-in-out;
}
.label {
    border: 1px solid currentcolor;
    z-index: 1;
}
.label::before {
    transition: color 0.25s, -webkit-transform 0.25s 0.25s ease-in-out;
    transition: transform 0.25s 0.25s ease-in-out, color 0.25s;
    transition: transform 0.25s 0.25s ease-in-out, color 0.25s, -webkit-transform 0.25s 0.25s ease-in-out;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
.message {
    z-index: 2;
}
.message::before {
    opacity: 0;
    transition: color 0.25s, opacity 0.25s, -webkit-transform 0.25s 0.25s ease-in-out;
    transition: transform 0.25s 0.25s ease-in-out, color 0.25s, opacity 0.25s;
    transition: transform 0.25s 0.25s ease-in-out, color 0.25s, opacity 0.25s, -webkit-transform 0.25s 0.25s ease-in-out;
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
}
.label,
.message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    transition: color .25s;
}
.label::before,
.message::before {
    content: attr(data-label);
    font-size: 1.2rem;
    position: absolute;
    z-index: -1;
    left: 5px;
    padding: 0 10px 0 10px;
    background: #003d50;
    color: #fff;
    -webkit-transform: translateY(-50%) scaleX(0);
    transform: translateY(-50%) scaleX(0);
}
.label::after,
.message::after {
    content: attr(data-label);
    display: inline-block;
    padding: 0 10px;
    font-size: .2rem;
    line-height: 1.6rem;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.25s ease-in-out, color 0.25s;
}



/*Button*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}




button{
    color:#fff;
    text-align: center;
    padding: 10px;
}

a{
    text-decoration:none;

}

a:hover{
    color:#fec500;
}

.main{
    width: 100%;
}

.sub-main{
    width: 30%;
    margin:22px;
    float: left;
}



.button {
    text-align: center;
    cursor: pointer;
    font-size:22px;
    margin: 35px 0 0 0;
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}

.button:after{
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button2 {
    text-align: center;
    cursor: pointer;
    color:#fff;
    font-size:18px;
    margin: 20px;
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button2:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}

.button2:after{
    content: "";
    background: #fec500;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button2:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* Augmente l'espacement gauche et droite des suggestions */
.suggestion {
    padding-left: 2px;
    padding-right: 2px;
}

/* Modifie la couleur de la suggestion survolée par la souris */
.suggestion:hover {
    background-color: #adf;
    cursor: pointer;
}

/* Positionne la liste des suggestions au-dessous de la zone de saisie */
#suggestions {
    position: absolute;
    border: 1px solid black;
    left: 171px;
}


